<footer class="stickyfooter text-center">
  <div>
    <a href="https://creativecommons.org/licenses/by/4.0/" aria-label="Read CC BY license language"><i class="fa-brands fa-creative-commons-by"></i></a>
    |
    <a href="mailto:scott.young6@montana.edu" target="_blank" aria-label="Send email to site owner"><span class="bi bi-envelope-open-fill"></span></a>
    |
    <a href="https://scholar.google.com/citations?user=1zb5c7sAAAAJ&hl=en" aria-label="Visit Google Scholar profile"><i class="fa-brands fa-google-scholar"></i></a>
    <a href="https://orcid.org/0000-0002-3082-4057" aria-label="Visit ORCID profile"><i class="fa-brands fa-orcid"></i></a>
    |
  </div>
</footer>
